.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#mainDiv {
  border: solid black 3px;
  width: 30%;
  position: absolute;
  left: 35%;
}

#canvasDiv {
  background-image: url("noteboook.png");
  background-size: 100%;
  width: 270px;
  height: 270px;
  margin: 20px;
  cursor: default;
}

#canvasDiv:hover {
  cursor: none;
}

#markerDiv {
  margin: 20px;
}

#canvas {
  width: 100%;
  height: 100%;
}
