.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#mainDiv {
  border: solid black 3px;
  width: 20%;
  position: absolute;
  left: 30%;
}

#canvasDiv {
  background-image: url("noteboook.png");
  background-size: 100%;
  position: relative;
  left: 20%;
  margin-top: 20px;
  width: 270px;
  height: 270px;
  cursor: default;
}

#canvasDiv:hover {
  cursor: none;
}

#markerDiv {
  margin-top: 70px;
  margin-left: 20px;
}

#stickerDiv {
  margin-top: 10px;
  margin-left: 20px;
}
#canvas {
  width: 100%;
  height: 100%;
}

#undoButton {
  background-image: url("undo.png");
  width: 50px;
  height: 50px;
}

#redoButton {
  background-image: url("redo.png");
  width: 50px;
  height: 50px;
}

#clearButton {
  background-image: url("clear.png");
  width: 50px;
  height: 50px;
}

#exportDiv {
  margin: 10px;
}

#exportButton {
  background-image: url("save.png");
  background-size: 100%;
  width: 60px;
  height: 60px;
}

#thinButton {
  position: relative;

  background-image: url("thin.png");
  background-size: 100%;
  width: 60px;
  height: 60px;
}
#thickButton {
  position: relative;
  background-image: url("thick.png");
  background-size: 100%;
  width: 60px;
  height: 60px;
}
#markerDiv {
  display: flex;
}

#colorDiv {
  margin: 5%;
}
