.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#mainDiv {
  border: solid black 3px;
}

#canvasDiv {
  border: solid black 3px;
  width: 256px;
  height: 256px;
  margin: 20px;
}

#canvas {
  width: 256px;
  height: 256px;
}
